.cover__subtitle {
    border: 1px solid red;
    font-family: Inter;
    font-style: normal;
    max-width: 360px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;

}