.photo-grid__item {
    border: 1px solid white;
    max-width: 284px;
}


@media screen and (max-width: 1124px) {
    .photo-grid__item {
        max-width: 300px;
    }
}

@media screen and (max-width: 868px) {
    .photo-grid__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 420px) {
    .photo-grid__item {
        max-width: 288px;
    }
}