.footer__link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 420px) {
    .footer__link {
        max-width: 158px;
        font-size: 24px;
        line-height: 24px;
    }
}