.footer__navigation {
    padding-left: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: 0;
}

@media screen and (max-width: 420px) {
    .footer__navigation {
        flex-direction: column;
        margin-bottom: 48px;
    }
}