.place__website {
    max-width: 456px;
    align-self: end;
}

@media screen and (max-width: 850px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 650px) {
    .place__website {
        max-width: 300px;
    }
}

@media screen and (max-width: 560px) {
    .place__website {
        display: none;
    }
}